<div class="flightPage" >
        <form class="searchFlight" action="flight" (ngSubmit)="searchNow()">
            <label>From</label>
            <input type="text" placeholder="Entery a city" name="address" [(ngModel)]=depature>
            <label>To</label>
            <input type="text" placeholder="Entery a city" name="address" [(ngModel)]=destination>
            <input type="date" id="startDate">
            <input type="date" id="endDate">
            <input type="submit" value="submit" routerLink="/flight/{{depature}}&{{destination}}">
        </form>
        <hr style="border-top: 1px solid tomato">
        <div *ngFor="let flight of flights">
            <div class="row">
              <div class="flightInfo">
                  <h2>{{flight.name}}</h2>
              </div>
            </div>
          </div>
      </div>